
  
 .slider__track,
 .slider__range-safe,
 .slider__range-warning,
 .slider__absolute-left,
 .slider__absolute-right {
   position: absolute;
 }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

.slider__track {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
  z-index: 1;
}


  
  .slider__track {
    background-color: #e05121;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    background-color: #49e7df;
    z-index: 2;
  }
  .slider__range-safe {
    background-color: #49e7df; /* safe zone color */
    height: 5px;
    border-radius: 3px;
    z-index: 2;
  }

  .slider__range-warning {
    background-color: #e05121; /* warning color */
    height: 5px;
    border-radius: 3px;
    z-index: 2;
  }
  .slider__actual-value {
    position: absolute;
    top: 20px; /* adjust based on where you want it */
    left: 50%;
    transform: translateX(-50%);
    color: #d39817;
    font-size: 12px;
  }
  .slider__actual-value {
    z-index: 10;
  }

 /* Wrapper positions everything relative to the slider track */
.slider__actual-wrapper {
    position: absolute;
    top: -6px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    pointer-events: none;
  }


  /* Small dot marker */
  .slider__actual-marker {
    width: 16px;
    height: 16px;
    background-color: #13da16;
    border-radius: 50%;
  }
  /* Value aligned below marker */
  .slider__actual-value {
    margin-top: 6px;
    font-size: 12px;
    color: #13da16;
  }
  
  /* Absolute Min/Max */
.slider__absolute-left,
.slider__absolute-right {
  color: #555;
  font-size: 12px;
  top: 16px;
}

.slider__absolute-left {
  left: 0;
}

.slider__absolute-right {
  right: 0;
}
  
  
  .slider__left-value,
  .slider__right-value {
    color: #d39817;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider__left-value {
    left: 6px;
  }
  
  .slider__right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
  }
  
  .thumb--zindex-3 {
    z-index: 3;
  }
  
  .thumb--zindex-4 {
    z-index: 4;
  }
  
  .thumb--zindex-5 {
    z-index: 5;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #49e7df;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #49e7df;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  .slider__threshold-wrapper {
    position: absolute;
    top: -6px; /* slightly above track */
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    z-index: 5;
  }
  
  .slider__threshold-marker {
    width: 12px;
    height: 12px;
    /* background-color: #49e7df; */
    border-radius: 50%;
  }
  
  .slider__threshold-value {
    margin-top: 4px;
    font-size: 12px;
    color: #49e7df;
  }
  